@import "node_modules/bootstrap/scss/bootstrap.scss";

body {
  background:#cecece;
}

.sidebar {
  background: #efefef;
  min-height: calc(100vh);
  margin-bottom: 0;
}

.sidebar-folders {
  background: #e1e1e1;
  min-height: calc(100vh);
}